#!/usr/bin/env bash

_PWD=$(pwd)
_APP=`echo $_PWD | grep -Eo -i '([[:alnum:]-]*)$'`
echo "Starting $_APP environment..."
export PATH="$_PWD/bin:$PATH"

export PRJ_ROOT_DIR=$(realpath "$_PWD")

[ -f ${PRJ_ROOT_DIR}/.env ] && source ${PRJ_ROOT_DIR}/.env || { echo "Missing ${PRJ_ROOT_DIR}/.env!"; exit 1; }
## Export all VARS in .env
ALL_ENV_PRJ_VARS=($(grep -E '^[[:space:]]*[A-Z_][A-Z0-9_]*[[:space:]]*=' ${PRJ_ROOT_DIR}/.env | cut -f1 -d"=" | tr '\n' ' '))
for idx in "${!ALL_ENV_PRJ_VARS[@]}"; do
  # echo "idx: $idx :: ${ALL_ENV_PRJ_VARS[idx]}=${!ALL_ENV_PRJ_VARS[idx]}"
  eval "export ${ALL_ENV_PRJ_VARS[idx]}='${!ALL_ENV_PRJ_VARS[idx]}'"
done

## GOPRIVATE="gitlab.com/cyverse*,github.com/cyverse*,bitbucket.org/cyverse*"
export GOPRIVATE="gitlab.com/cyverse*"
